html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #232323;
}

#header-container {
  display: flex;
}

.grid {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
  padding: 10vh;
  text-align: center;
  width: 100%;
}

span {
  color: white;

}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

#message {
  color: black;
}

.selected {
  background: blue;
}