/* ----- Page Sizing ----- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  font-family: "Montserrat", "Avenir";
}

/* ----- Format ----- */
#header-container {
  display: flex;
}

.grid {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 7.5%;
  -webkit-transition: background 0.65s;
  -moz-transition: background 0.65s;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

/* ----- Buttons ----- */
button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
}

button:hover {
  color: white;
  background: steelblue;
}
/* ----- Typography ----- */
h1 {
  color: white;
  padding: 10vh;
  text-align: center;
  width: 100%;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.5em;
}

#color-display {
  font-size: 0.65em;
}

span {
  color: white;

}

#message {
  color: black;
  display: inline-block;
  width: 20%;
}

.selected {
  color: white;
  background: steelblue;
}